<section class='shop'>
        <div class="container">
            <div class="col-sm-12">

<div class="col-sm-4"></div>
<div class="col-sm-4">
 <h3 class='shoe-text-center'>Sign up</h3>
                <hr>
<%= render "signupform" %>


 </div>
</div>
                </div>

    </section>