<section class='shop'>
        <div class="container">
            <div class="col-sm-12">

<div class="col-sm-4"></div>
<div class="col-sm-4">
 <h3 class='shoe-text-center'>Already have an account?</h3>
                <hr>
<%= render "loginform" %>

<h3 class='shoe-text-center'>Are you new?</h3>
                <hr>

<%= button_to "Sign up here", new_signup_path, :method => "get" %>


 </div>
</div>
                </div>

    </section>