  <section class='video'>
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
                            <%= image_tag('tss_logo.png') %>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class='shoe-user-title'>
                            <h3 class='shoe-text-center shoe-text-uppercase'>about us</h3>
                            <hr>
                        </div>
                        <p>
                            
                            Style. Quality. These two simple words mean everything to us. At The Shoe Store, we are committed to bringing you the best brands from around the world. We carry all sizes and styles, and if you can't find what you're looking for, we'll make sure to find it for you. At The Shoe Store, we help you put your best foot forward.

                        </p>

                        </br>
                         <div class='shoe-user-title'>
                            <h3 class='shoe-text-center shoe-text-uppercase'>Where to find us</h3>
                            <hr>
                            <p class='shoe-text-center'>
                                164 Laurier Str, Ottawa </br>
                                Ontario, Canada</br>
                                K8V 4J4</br>
                                +1 (613) 123 1234</br>
                                contact@theshoestore.ca</br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>