  <section class='video'>
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
                            <%= image_tag('men.jpg') %>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class='shoe-user-title'>
                            <h3 class='shoe-text-center shoe-text-uppercase'>about us</h3>
                            <hr>
                        </div>
                        <p>
                            The destination for style-conscious shoppers, the Shoe Store is all about accessibly-priced on-trend fashion footwear 

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>