<section class='location' >
 <div class="container">
 <div class="col-sm-12">
 <div class="row">
 
 <div id="map" class="col-sm-6">
                <%= javascript_include_tag 'function.js' %>
               <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC6oSrI9vLK8XnXaBy0c1rbYjn6ZuJX7fo&callback=initMap'></script>
               <div style='overflow:hidden;height:400px;'>
                  <div id='gmap_canvas' style='height:300px;'></div>
                
               </div>
             
            </div>
           
            <div cladss= "col-sm-6">
                 <div class='shoe-user-title'>
                <h3 class='shoe-text-center shoe-text-uppercase'>Where to find us</h3>
                <hr>
                  <p>
      137 Blvd Greber<br>
      Gatineau, Quebec <br>
      Canada <br> 
      +1 (819) 668-7856 <br> 
      contact@theshoestore.ca <br>

    </p>
            </div>
            </div>

    
    </div>
    </div>
    </div>
</section>