<section class='shop'>
        <div class="container">
            <div class="col-sm-12">
                <div class="row shoe-text-center">

                    <div class="shoe-text-title">
                        <h3>Cart</h3>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <p>Style</p>
                    </div>

                   
                        <div class="col-sm-3">
                            <p>Quantity </p>
                        </div>

                       
                        <div class="col-sm-3">
                                <p>Price </p>
                        </div>
<hr>
                </div>
                <div class="checkout">
                    <a href="#">Checkout</a>
                </div>
                        

                    </div>

                </div>

    </section>