  <section class='shop'>
        <div class="container">
            <div class="col-sm-12">
                <div class="row shoe-text-center">

                    <div class=' shoe-user-title'>
                        <h3 class='shoe-text-center shoe-text-uppercase'>Shop</h3>
                        <hr>
                    </div>
   
                </div>

                <div class="row">

                    <div class='col-sm-6 '>
                        <div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
                        <%= link_to image_tag('men.jpg'),  "categories/men/subcategories" %>
                        </div>
                        <div class="info">
                            <h4>Men Shoes</h4>

                        </div>
                    </div>
                    <div class='col-sm-6 '>
                        <div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
                            <%= link_to image_tag('men.jpg'),  "categories/women/subcategories"  %>
                        </div>
                        <div class="info">
                            <h4>Women Shoes</h4>

                        </div>
                    </div>

                </div>
               
            </div>

        </div>
      
    </section>