 <section class='shop'>
        <div class="container">
            <div class="col-sm-12">
                <div class="row shoe-text-center">

                    <div class=' shoe-user-title'>
                        <h3 class='shoe-text-center shoe-text-uppercase'><%= @shoe.name %></h3>
                        <hr>
                    </div>
                   
                </div>

                <div class="row">
                <div class="col-sm-6">
    <div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
        <%= image_tag(@shoe.image)+".jpg" %>
    </div>

</div>
<div class="col-sm-6 shoe-text-center">

                    <%= render "shoeform" %>

                    </div>

                </div>

            </div>
        </div>
        </div>
    </section>