 <section class='shop'>
        <div class="container">
            <div class="col-sm-12">
                <div class="row shoe-text-center">

                    <div class=' shoe-user-title'>
                        <h3 class='shoe-text-center shoe-text-uppercase'>Shoe Name here</h3>
                        <hr>
                    </div>
                   
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
                            <%= image_tag('men.jpg') %>
                        </div>

                    </div>
                    <div class="col-sm-6 shoe-text-center">
                        
                        <p>Price = xxx</p>
                        <div class="buttons">
                            <p>colors</p>
                            <button class="circle_green"> </button>
                            <button class="circle_green"> </button>
                            <button class="circle_green"> </button>
                        </div>

                        <div class="size">
                            <p>Size</p>
                            <button class="square-size"> 8 </button>
                            <button class="square-size"> 9 </button>
                            <button class="square-size"> 10 </button>
                            <button class="square-size"> 11 </button>
                        </div>
                        <br>
                        <div>
                            <p>Quantity: xxx</p>
                        </div>
                        <br>

                        <button class="add_cart">Add to cart</button>
                        <button class="add_cart">Buy Now</button>
                       
                    </div>

                </div>

            </div>
        </div>
        </div>
    </section>